<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@FTdevdb02.dafycredit.com:1521:devdb02</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <mapping resource="cn/zhougq/Entitys/SysUserAddress.hbm.xml"/>
    <mapping class="cn.zhougq.Entitys.SysUserAddress"/>
    <mapping class="cn.zhougq.Entitys.SysUserList"/>
    <mapping resource="cn/zhougq/Entitys/SysUserList.hbm.xml"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>